<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <!--Este es para leer el "properties..."-->
  <system.data>
    <DbProviderFactories>
      <!-- MySQL -->
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=9.4.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <!-- SQL Server -->
      <remove invariant="System.Data.SqlClient"/>
      <add name="Microsoft SQL Server Data Provider" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for Microsoft SQL Server" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="db.provider" value="MySql.Data.MySqlClient"/>
    <add key="db.hostname" value="database-drimtim.cv8mkagyktz5.us-east-1.rds.amazonaws.com"/>
    <add key="db.username" value="admin"/>
    <add key="db.password" value="Dr1mProg30809"/>
    <add key="db.port" value="3306"/>
    <add key="db.database" value="mydb"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProveedorWSPortBinding" />
        <binding name="DescuentoLiquidacionWSPortBinding" />
        <binding name="DescuentoMontoWSPortBinding" />
        <binding name="DescuentoPorcentajeWSPortBinding" />
        <binding name="CargoWSPortBinding" />
        <binding name="EmpleadoWSPortBinding" />
        <binding name="CuentaUsuarioWSPortBinding" />
        <binding name="TipoCuentaWSPortBinding" />
        <binding name="PoloWSPortBinding" />
        <binding name="BlusaWSPortBinding" />
        <binding name="FaldaWSPortBinding" />
        <binding name="CasacaWSPortBinding" />
        <binding name="PantalonWSPortBinding" />
        <binding name="VestidoWSPortBinding" />
        <binding name="GorroWSPortBinding" />
        <binding name="PromocionComboWSPortBinding" />
        <binding name="PromocionConjuntoWSPortBinding" />
        <binding name="VentaWSPortBinding" />
        <binding name="ClienteWSPortBinding" />
        <binding name="VigenciaWSPortBinding" />
        <binding name="MovimientoAlmacenXLoteWSPortBinding" />
        <binding name="LoteWSPortBinding" />
        <binding name="MovimientoAlmacenWSPortBinding" />
        <binding name="AlmacenWSPortBinding" />
        <binding name="BoletaWSPortBinding" />
        <binding name="FacturaWSPortBinding" />
        <binding name="NotaDeCreditoWSPortBinding" />
        <binding name="NotaDeDebitoWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WearDropWS/ProveedorWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
        contract="ProveedorWS.ProveedorWS" name="ProveedorWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/DescuentoLiquidacionWS"
        binding="basicHttpBinding" bindingConfiguration="DescuentoLiquidacionWSPortBinding"
        contract="DescuentoLiquidacionWS.DescuentoLiquidacionWS" name="DescuentoLiquidacionWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/DescuentoMontoWS"
        binding="basicHttpBinding" bindingConfiguration="DescuentoMontoWSPortBinding"
        contract="DescuentoMontoWS.DescuentoMontoWS" name="DescuentoMontoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/DescuentoPorcentajeWS"
        binding="basicHttpBinding" bindingConfiguration="DescuentoPorcentajeWSPortBinding"
        contract="DescuentoPorcentajeWS.DescuentoPorcentajeWS" name="DescuentoPorcentajeWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/CargoWS"
        binding="basicHttpBinding" bindingConfiguration="CargoWSPortBinding"
        contract="CargoWS.CargoWS" name="CargoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/EmpleadoWS"
        binding="basicHttpBinding" bindingConfiguration="EmpleadoWSPortBinding"
        contract="EmpleadoWS.EmpleadoWS" name="EmpleadoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/CuentaUsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="CuentaUsuarioWSPortBinding"
        contract="CuentaUsuarioWS.CuentaUsuarioWS" name="CuentaUsuarioWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/TipoCuentaWS"
        binding="basicHttpBinding" bindingConfiguration="TipoCuentaWSPortBinding"
        contract="TipoCuentaWS.TipoCuentaWS" name="TipoCuentaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/PoloWS" binding="basicHttpBinding"
        bindingConfiguration="PoloWSPortBinding" contract="PoloWS.PoloWS"
        name="PoloWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/BlusaWS"
        binding="basicHttpBinding" bindingConfiguration="BlusaWSPortBinding"
        contract="BlusaWS.BlusaWS" name="BlusaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/FaldaWS"
        binding="basicHttpBinding" bindingConfiguration="FaldaWSPortBinding"
        contract="FaldaWS.FaldaWS" name="FaldaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/CasacaWS"
        binding="basicHttpBinding" bindingConfiguration="CasacaWSPortBinding"
        contract="CasacaWS.CasacaWS" name="CasacaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/PantalonWS"
        binding="basicHttpBinding" bindingConfiguration="PantalonWSPortBinding"
        contract="PantalonWS.PantalonWS" name="PantalonWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/VestidoWS"
        binding="basicHttpBinding" bindingConfiguration="VestidoWSPortBinding"
        contract="VestidoWS.VestidoWS" name="VestidoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/GorroWS"
        binding="basicHttpBinding" bindingConfiguration="GorroWSPortBinding"
        contract="GorroWS.GorroWS" name="GorroWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/PromocionComboWS"
        binding="basicHttpBinding" bindingConfiguration="PromocionComboWSPortBinding"
        contract="PromocionComboWS.PromocionComboWS" name="PromocionComboWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/PromocionConjuntoWS"
        binding="basicHttpBinding" bindingConfiguration="PromocionConjuntoWSPortBinding"
        contract="PromocionConjunto.PromocionConjuntoWS" name="PromocionConjuntoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/VentaWS"
        binding="basicHttpBinding" bindingConfiguration="VentaWSPortBinding"
        contract="VentaWS.VentaWS" name="VentaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
        contract="ClienteWS.ClienteWS" name="ClienteWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/VigenciaWS"
        binding="basicHttpBinding" bindingConfiguration="VigenciaWSPortBinding"
        contract="VigenciaWS.VigenciaWS" name="VigenciaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/MovimientoAlmacenXLoteWS"
        binding="basicHttpBinding" bindingConfiguration="MovimientoAlmacenXLoteWSPortBinding"
        contract="PackageAlmacen.MovimientoAlmacenXLoteWS" name="MovimientoAlmacenXLoteWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/LoteWS" binding="basicHttpBinding"
        bindingConfiguration="LoteWSPortBinding" contract="PackageAlmacen.LoteWS"
        name="LoteWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/MovimientoAlmacenWS"
        binding="basicHttpBinding" bindingConfiguration="MovimientoAlmacenWSPortBinding"
        contract="PackageAlmacen.MovimientoAlmacenWS" name="MovimientoAlmacenWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/AlmacenWS"
        binding="basicHttpBinding" bindingConfiguration="AlmacenWSPortBinding"
        contract="PackageAlmacen.AlmacenWS" name="AlmacenWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/BoletaWS"
        binding="basicHttpBinding" bindingConfiguration="BoletaWSPortBinding"
        contract="BoletaService.BoletaWS" name="BoletaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/FacturaWS"
        binding="basicHttpBinding" bindingConfiguration="FacturaWSPortBinding"
        contract="FacturaService.FacturaWS" name="FacturaWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/NotaDeCreditoWS"
        binding="basicHttpBinding" bindingConfiguration="NotaDeCreditoWSPortBinding"
        contract="NotaDeCreditoService.NotaDeCreditoWS" name="NotaDeCreditoWSPort" />
      <endpoint address="http://localhost:8080/WearDropWS/NotaDeDebitoWS"
        binding="basicHttpBinding" bindingConfiguration="NotaDeDebitoWSPortBinding"
        contract="NotaDeDebitoService.NotaDeDebitoWS" name="NotaDeDebitoWSPort" />
    </client>
  </system.serviceModel>
</configuration>